# PyCharm files
.idea/

# Virtual environments
.venv/
env/
venv
.env

# PyEnv
.python-version

# Byte-compiled / optimized / DLL files
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class

sofaro/media/

148461-volna-poberezhe-voda-biryuza-chirok-550x310.jpg
169652-plyazh-more-okean-priroda-voda-550x310.jpg
download.jpg
