{% extends "base.html" %}

{% block title %}hotels{% endblock %}

{% block content %}
<div class="container">
  <h1>
    <img src="media/391fd53d-842a-4e15-a0a3-56486b518c61-benzin-preview.png" width="70">
    SOFARO HOTELS
  </h1>
  <div class="row mb-5">
  {% for product in products %}
    {% if forloop.counter0|divisibleby:3 %}
      </div><div class="row mb-3">
    {% endif %}
    <div class="col-3">
      {% include "product.html" %}
    </div>
  {% endfor %}
  </div>
 {% endblock %}
</div>

